@font-face{
    font-family: "Avenir Black";
    src:url('/AvenirLTStd-Black.otf')  format('truetype');
}

@font-face{
    font-family: "Avenir Book";
    src:url('/AvenirLTStd-Book.otf')  format('truetype');
}

@font-face{
    font-family: "Avenir Roman";
    src:url('/AvenirLTStd-Roman.otf')  format('truetype');
}

:root {
    --Text-Color:#182153;
    --Font-Text: "Avenir Book",sans-serif;
    --Font-Title: "Avenir Black",sans-serif;
    --Font-Detail:"Avenir Roman", sans-serif;
}

body {
    margin: 0;
}