@font-face{
    font-family: "Avenir Black";
    src:url('/AvenirLTStd-Black.otf')  format('truetype');
}

@font-face{
    font-family: "Avenir Book";
    src:url('/AvenirLTStd-Book.otf')  format('truetype');
}

@font-face{
    font-family: "Avenir Roman";
    src:url('/AvenirLTStd-Roman.otf')  format('truetype');
}

:root {
    --Text-Color:#182153;
    --Font-Text: "KaiTi", "楷体", "STKaiti", "华文楷体","Kai",sans-serif;
    --Font-Title: "KaiTi", "楷体", "STKaiti", "华文楷体", "Kai",sans-serif;
    --Font-Detail:"Fangsong", "仿宋", "STFangsong", "华文仿宋", sans-serif;
}

body {
    margin: 0;
}