.experience {
    width: 100%;
    color: var(--Text-Color);
}

.imgDiv{
    display: flex;
    justify-content: center;
}

.experience img{
    height: 4vw;
    margin: 2vw 0;
}

.history{
    padding-top: 1vw;
}

/* school Div */

.school {
    display: flex;
    width: 100vw;
    position: relative;
}

.date {
    width: 45vw;
    border-right: 0.5px solid #e1e5eb;
    padding-right: 5vw;
}

.date h1{
    margin: 0;
    border: 0;
    text-align: right;
    font-family: var(--Font-Text);
    font-size: 1.5vw;
}

.date p{
    padding-top:4px;
    margin: 0;
    text-align: right;
    font-family: var(--Font-Text);
    font-size: 1.2vw;
}

.content{
    width: 45%;
    padding-left: 5vw;
}

.content h1{
    margin: 0;
    border: 0;
    text-align: left;
    font-family: var(--Font-Text);
    font-size: 1.5vw;
}

.content ul{
    margin: 0;
    text-align: left;
    font-family: var(--Font-Text);
    font-size: 1.2vw;
    padding-right: 10vw;
    padding-top: 4px;
    padding-bottom: 2vw;
}

.content li{
    padding-top: 2px;
}


.dot {
    width: 1vw;
    height: 1vw;
    background-color: var(--Text-Color);
    position: absolute;
    top: 0;
    left: 49.5vw;
    z-index:2;
    border-radius: 50%;
}

@media (max-width:1028px){
    .experience img{
        height: 5.5vw;
    }

    .date {
        width: 25vw;
        border-right: 0.2vw solid #e1e5eb;
        padding-right: 4.9vw;
    }

    .content{
        width: 65vw;
        padding-left: 4.9vw;
    }

    .dot {
        left:29.5vw;
        top:1vw;
    }

    .date h1{
        font-size: 3vw;
    }

    .date p{
        font-size: 3vw;
    }

    .content h1{
        font-size: 3vw;
    }

    .content ul{
        font-size: 2.8vw;
    }
}