.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    color: var(--Text-Color);
    height: 5rem;
    position: fixed;
    background-color: white;
    width: 96vw;
    top: 0;
    z-index: 10;
}

.navbar img{
    height: 2.5rem;
}

.navbar p{
    font-family: var(--Font-Text);
    margin-left: 2vw;
    font-size: 1.5vw;
}

.menu {
    display: flex;
    width: 70vw;
    justify-content: flex-end;
}

.menu a{
    text-decoration: none;
    color: var(--Text-Color);
}

.menu a:link {
    text-decoration: none;
  }
  
.menu a:visited {
    text-decoration: none;
  }
  
.menu a:hover {
    text-decoration: none;
  }
  
.menu a:active {
    text-decoration: none;
  }

@media (max-width:1028px){
    .navbar p{
        font-size: 2.5vw;
    }

    .navbar {
        height: 4rem;
    }

}