.projects {
    background-color: white;
    position: relative;
    width: 100vw;
    color: var(--Text-Color);
    /* color: black; */
}

.divTitle {
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
}

.divTitle img{
    height: 4vw;
}

.projectDiv {
    position: relative;
    display: flex;
}

.projectDiv h1 {
    
    font-size: 2.5vw;
    margin: 0;
    padding: 1vw 0;
}

.finance {
    width: 50%;
    background-color: white;
}

.finance h1 {
    
    text-align: center;
    font-family: var(--Font-Title);
    background-color: var(--Text-Color);
    color: white;
    margin: 0;
    
}

.fund {
    padding-top:2vw;
    background-color: #f1f1f1;
}

.fund h2{
    color: var(--Text-Color);
    text-align: center;
    font-family: var(--Font-Text);
    font-size: 2vw;
    margin: 0;
}

.fund p{
    font-family: var(--Font-Detail);
    padding: 1vw 5vw;
    font-size: 1.2vw;
    margin: 0;
}

.four {
    text-align: center;
}

.four img{
    width: 20%;
    height: 15vw;
    object-fit: cover;
}

.two {
    text-align: center;
}

.two img {
    width: 40%;
    height: 15vw;
    object-fit: cover;
}

/* Other Div */

.other {
    width: 50%;
    
}

.technology h1{
    margin: 0;
    text-align: center;
    font-family: var(--Font-Title);
    background-color: var(--Text-Color);
    color: white;
}

.website {
    padding-top: 2vw;
}

.website h2{
    color: var(--Text-Color);
    text-align: center;
    font-family: var(--Font-Text);
    font-size: 2vw;
    margin: 0;
}

.website p{
    font-family: var(--Font-Detail);
    padding: 1vw 5vw;
    font-size: 1.2vw;
    margin: 0;
}

.website img{
    width: 80%;
    padding-left: 10%;
}

.education {
    padding-top: 2vw;
}

.education h1{
    margin: 0;
    text-align: center;
    font-family: var(--Font-Title);
    background-color: var(--Text-Color);
    color: white;
}

.education p{
    font-family: var(--Font-Detail);
    padding: 1vw 5vw;
    font-size: 1.2vw;
    margin: 0;
}

.education img{
    height: 4vw;
    padding-left: 5vw;
}

@media (max-width:1028px){

    .divTitle{
        height: 4rem;
    }

    .divTitle img{
        height: 5.5vw;
    }

    .projectDiv{
        flex-wrap: wrap;
    }

    .projectDiv h1{
        font-size:4vw;
        padding: 1vw;
    }

    .projectDiv h2{
        font-size:3.5vw;
        padding: 1vw;
    }

    .projectDiv p{
        font-size:3vw;
        line-height: 4vw;
    }

    .finance{
        width: 100%;
    }

    .other {
        width: 100%;
    }
    .four img{
        height: 30vw;
    }
    
    .two img{

        height: 30vw;

    }
    

    .education img{
        height: 6vw;
        padding-left: 5vw;
    }
}