.skills {
    padding-bottom: 2vw;
} 

.imgDiv{
    display: flex;
    justify-content: center;
    background-color: var(--Text-Color);
}

.skills img{
    height: 4vw;
    margin:2vw 0;
}

.skillDiv{
    padding: 2vw 20vw 0;
    
}

.row {
    display: flex;
    justify-content: space-between;
}

.block{
    font-family: var(--Font-Text);
    padding: 2vw 0;
    width: 24vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25,35,80,0.85);
}

.block h2 {
    color: white;
    font-size: 1.5vw;
    margin: 0;
}

@media (max-width:1028px){
    .skillDiv{
        padding: 2vw 10vw 0;
    }

    .skills img{
        height: 5.5vw;
        margin:2vw 0;
    }

    .block{
        width: 34vw;
    }
}